<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpTaskService" />
                <binding name="basicHttpTaskWorkflowService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2311/TaskService.svc" binding="basicHttpBinding"
                bindingConfiguration="basicHttpTaskService" contract="TaskService.ITaskService"
                name="basicHttpTaskService" />
            <endpoint address="http://localhost:2311/TaskWorkflowService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpTaskWorkflowService"
                contract="TaskWorkflowService.ITaskWorkflowService" name="basicHttpTaskWorkflowService" />
        </client>
    </system.serviceModel>
</configuration>